{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid my-3">
    <div class="card-columns my-3">

        <div class="card border-0 text-center">
            <img src="https://avatars2.githubusercontent.com/u/2004182?s=460&v=4" class="avatar-user">
            <div class="card-body">gdelre</div>
            <table class="table">
                <tbody>
                  <tr>
                    <td>Username</td>
                    <th>gdelre</th>
                    <td>commits</td>
                    <th>3.5 K</th>
                </tr>
                </tbody>
            </table>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card border-0 text-center">
            <img src="https://avatars2.githubusercontent.com/u/2004182?s=460&v=4" class="avatar-user">
            <div class="card-body">gdelre</div>
            <table class="table">
                <tbody>
                  <tr>
                    <td>Username</td>
                    <th>gdelre</th>
                    <td>commits</td>
                    <th>3.5 K</th>
                </tr>
                </tbody>
            </table>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card border-0 text-center">
            <img src="https://avatars2.githubusercontent.com/u/2004182?s=460&v=4" class="avatar-user">
            <div class="card-body">gdelre</div>
            <table class="table">
                <tbody>
                  <tr>
                    <td>Username</td>
                    <th>gdelre</th>
                    <td>commits</td>
                    <th>3.5 K</th>
                </tr>
                </tbody>
            </table>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="card border-0 text-center">
            <img src="https://avatars2.githubusercontent.com/u/2004182?s=460&v=4" class="avatar-user">
            <div class="card-body">gdelre</div>
            <table class="table">
                <tbody>
                  <tr>
                    <td>Username</td>
                    <th>gdelre</th>
                    <td>commits</td>
                    <th>3.5 K</th>
                </tr>
                </tbody>
            </table>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
